<div class="alert alert-info">Welcome</div>
<form (ngSubmit)="$event.preventDefault()">
  <div class="row">
    <div class="col-md-4">
      <input type="file"  accept="image/*" class="form-control"  (change)="changeImage($event)" />
      <p></p>
      <button *ngIf="imageData" (click)="removeImage()" class="btn btn-danger">Remove</button>
      <p></p>
      <app-submit-button
        [imageData]="imageData"
        (onResult)="handleResult($event)"
        (onError)="handleError($event)"
        (onBeforeSubmit)="preSubmit()"
        (onReady)="serverReady()"
      >
      </app-submit-button>
      <p *ngIf="progress>0">
        Completing: <strong>{{progress}}%</strong>
      </p>
    </div>
    
    <div class="col-md-8">
      <h4>Preview</h4>
      <hr/>
      <p *ngIf="!imageData"><i>No Preview</i></p>
      <img *ngIf="imageData" [src]="imageData" class="img" width="{{ 300 }}" />
      <div *ngIf="imageDataResult">
        <h4>Result</h4>
        <div class="btn-group">
          <button class="btn-dark" (click)="zoomResult(30)" >+</button>
          <button class="btn-dark"(click)="zoomResult(-30)" >-</button>
          <button class="btn-dark"(click)="zoomResult(0)" >Default</button>
          
        </div>
        <hr/>
        <img [src]="imageDataResult" class="img" width="{{ resultWidth }}" />
      </div>
    </div>
  </div>
</form>
<p></p>
<!-- 
<app-heroes [sampleHero]="sampleHero"></app-heroes> -->
